---
machine:
  type: worker
  nodeLabels:
    topology.kubernetes.io/zone: m
  install:
    diskSelector:
      serial: S7YDNS0L513062A
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: gamma
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "58:47:ca:7f:c1:0d"
